/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 60px;
    font-family: "Hanken Grotesk", Arial, sans-serif;
    display: flex;
    justify-content: center;
    background-color: #242a3c;
}

main {
    background-color: white;
    color: black;
    padding: 40px;
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 800px;
    border-radius: 25px;
}

/* search bar */
.search-wrap {
    margin-bottom: 40px;
}

/* current weather */
.current {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
    padding: 10px;
}

.current > h2 {
    font-size: 2.5rem;
}

.current-icon-container {
    width: 80%;
    height: auto;
    max-width: 200px;
}

.current-icon-container > img {
    width: 100%;
    height: 100%;
}

.current-description-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
}

/* forecast weather */
.forecast {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.card {
    width: 17%;
    max-width: 80px;
    padding: 3px;
    font-size: 0.6rem;
}

.date-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.forecast-icon-container {
    width: 100%;
    height: auto;
}

.forecast-icon-container > img {
    width: 100%;
    height: 100%;
}

.forecast-description-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

