* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Hanken Grotesk", Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    background-color: #0C131E;
    padding: 35px;
    min-width: 544px;
    min-height: 700px;
    border-radius: 30px;
}
/* no weather */
.no-weather {
    margin-top: 250px;
    text-align: center;
    color: #7E7E7E;
    font-size: 1.5rem;
}

/* search bar */
.search-wrap {
    margin-bottom: 40px;
}

/* current weather */
.current {
    display: flex;
    justify-content: space-between;
    color: white;
    min-height: 180px;
    margin-bottom: 32px;
}

.current-left-wrap {
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.current-text-wrap h2 {
    max-width: 280px;
    font-size: 2rem;
}

.current-text-wrap p {
    font-size: 1.2rem;
    color: #7E7E7E;
}

.current-left-wrap h3 {
    font-size: 2rem;
}

.current-icon-container {
    height: 150px;
    width: 150px;
    margin-bottom: 5px;
}

.current-icon-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.current-right-wrap p {
    text-align: center;
    color: #7E7E7E;
    font-size: 1.2rem;
    font-weight: bold;
}

/* forecast */
.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    padding: 5px 20px;
    height: 65px;
    color: white;
    background-color: #202B3B;
    border-radius: 10px;
}

.icon-date-wrap {
    display: flex;
    align-items: center;
    height: 100%;
}

.forecast-icon-container {
    margin-right: 35px;
    height: 50px;
    width: 50px;
}

.forecast-icon-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.date-wrap {
    text-align: center;
}

.date-wrap > p:nth-child(1) {
    font-size: 1.5rem;
    font-weight: bold;
}

.date-wrap > p:nth-child(2) {
    font-size: 0.7rem;
    color: #7E7E7E;
}

.temp-wrap > p {
    font-size: 1.3rem;
    font-weight: bold;
}


