* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 60px;
    font-family: "Hanken Grotesk", Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #242a3c;
}

main {
    background-color: white;
    color: black;
    padding: 40px;
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 800px;
    border-radius: 25px;
}

.autocomplete-container {
    position: relative;
    width: 100%;
}

.city-form {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    width: 100%;
}

.input-wrap {
    position: relative;
    flex: 1 0 150px;
}

.input-wrap input {
    padding: 8px;
    border: 1px solid rgba(100, 90, 90, 0.537);
    border-radius: 5px;
}

.city-form > button {
    padding: 7px 15px;
    background-color: #242a3c;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.suggestions-list {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0.8px solid rgba(100, 90, 90, 0.537);
    border-radius: 0 0 5px 5px;
    width: 100%;
    top: 87%;
    left: 0;
    background-color: white;
}

.suggestion {
    padding: 5px;
    color: black;
    border-top: 0.8px solid rgba(100, 90, 90, 0.537);
    font-size: 0.8rem;
}

.suggestion > span {
    color: gray;
}